body {
    margin: 50px;
}
.home-title {
    padding: 10px;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,255,164,1) 78%);
}
.logo {
    width: calc(100% - 20px);
    padding: 10px 0;
    max-width: 500px;
}

.logo img {
    width: 100%;
}